.options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options h4 {
  font-style: italic;
}

.installation_guide {
  margin: 15px;
  padding: 5px;
  border: 1px solid black;
  background-color: #f6f2ee;
  box-shadow: 8px 3px 15px 5px #c1c1c1;
  width: 600px;
  margin-top: 30px;
}

.information {
  padding: 5px;
  line-height: 2rem;
}

.information h3 {
  padding-top: 20px;
  color: grey;
  font-style: italic;
}

.demo_container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.form_demo {
  flex: 4;
  display: flex;
  flex-direction: row;
  padding: 40px;
  height: auto;
  overflow: scroll;
  height: 90vh;
  box-shadow: 0px 1px 16px 5px rgba(81, 81, 81, 0.59);
  position: sticky;
  margin-right: 1rem;
  background-color: #faf0e6;
  margin: 1rem;
}

.customisation_options {
  flex: 5;
  display: flex;
  box-shadow: 0 0 10px 0.5px #3333;
  justify-content: center;
  flex-direction: row;
  padding-left: 30px;
  overflow: scroll;
  background-color: #fbf8f5;
  font-family: 'Courier New';
  text-align: center;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.code_snippet {
  text-align: left;
  width: 100%;
  margin-right: 10px;
  border: 3px solid black;
  box-shadow: 13px 11px 15px 5px #c1c1c1;
  margin-bottom: 50px;
  background-color: #faf0e6;
  padding: 0 10px;
  font-style: italic;
}

.boldtitle {
  font-style: italic;
  font-weight: 600;
}

input[type='range'] {
  width: 300px;
  margin: 6.5px 0;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: #d2d2d2;
  border: 1px solid #000101;
  border-radius: 25px;
  width: 100%;
  height: 12px;
  cursor: pointer;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -7.5px;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border: 2px solid #323232;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #dfdfdf;
}

input[type='color'] {
  -webkit-appearance: none;
  border-radius: 15px;
}

input[type='text'] {
  -webkit-appearance: none;
  width: 300px;
  margin: 6.5px 0;
  border-radius: 5px;
  font-family: 'Courier New';
  background: #d2d2d2;
  color: black;
  height: 25px;
}

select {
  -webkit-appearance: none;
  width: 300px;
  margin: 6.5px 0;
  border-radius: 5px;
  font-family: 'Courier New';
  background: #d2d2d2;
  color: black;
  height: 25px;
}

.footer {
  text-align: center;
  margin-right: 20px;
  background-color: #fbf8f5;
  padding: 15px;
  padding-bottom: 20px;
  width: 100%;
}
